@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white:#fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red:#f33501;
  --primary-grey: rgba(0,0,0,0.7);
  --primary-dark: rgb(52, 58, 64);
  --primary-black: #000000;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
};

/********************************************Navbar***************************/
.logo {
  width: 9.375rem;

}

/**************************Menu Links*****************/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0rem !important;
  height: 3.5rem;

  }
  @media (max-width: 768px;) {
   .navbar-brand {
     width: 7rem;
   }
  
    
  }

  .navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-top: 0.1875rem  solid var(--primary-orange);
  }

  .navbar-nav > li > a:hover {
    border-top: 0.1875rem  solid var(--primary-orange);
  }

  /******************************************** HEADER ***************************/

.header-wrapper {
  position: relative;
  background: url(header-background-pic.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color:var(--primary-orange);
  text-transform: uppercase;
}




  /******************************************** Typed Text ***************************/


  .typed-text {
    font-size: 2rem;
    color:var(--primary-white);
  }

  @media (max-width: 768px;) {
    .main-info h1{
      font-size: 1.5rem !important;
    }
    .typed-text {
      font: size 1.3em;
    }
  
    
  }

   /******************************************** Header MAin Offer Button***************************/

  .btn-main-offer {
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
   
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;
  }

  .btn-main-offer:hover {
    text-decoration: none;
    background-color: orange;
    color:var(--primary-white);
    transition: .2s ease-in-out;

  }

   /******************************************** PArticles JS***************************/

   .tsparticles-canvas-el {
     position: absolute;
     height: 100vh;
     width: 100vh;
     z-index: 1;
   }




   /******************************************AboutMe ********************************/
  .photo-wrap{
    display:flex;
    justify-content: center;
    align-items: center;
    
    

  }
  
   .profile-pic{
    width: 70%;
    border-radius: 50%;
    border:2px solid var(--primary-orange);
    padding:0.3rem;
    }

    .about-me {
      color:var(--primary-orange);
      text-transform: uppercase;
    }

    @media(max-width:768px){
       .photo-wrap{
         margin-bottom: 3rem;
       }
        .profile-pic{
          width: 50%;
        }
    }

    /************************* Services ********************/

   .services {
     background-color: beige;
     align-items: center;
     text-align: center;
     padding-bottom: 2rem;
   }
   .services h1{
     color: var(--primary-orange);
     text-transform: uppercase;
   }

  

   .services .circle{
    position: relative;
    margin: 0.375rem auto;
    background: var(--primary-orange);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
   }

   .services .icons {
     font-size: 1.4rem;
     color: #fff;
     position: absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);

   }

   .services .box {
     background: #fff;
     height: 18rem;
     padding: 1rem;
     border-bottom:0.3125rem solid var(--primary-orange);
     transition: 0.3s ease-in-out;
    }

   .services .box:hover{
     background: var(--primary-orange);
     border-bottom: 0.3125rem solid black;
     
   }

   .services .box:hover .icons {
     color: black;
   }

   .services .box:hover .circle{
     background-color: #fff;
     
   }
   .services .box:hover p{
    color: #fff;
    
  }
  

 /************************* Portfolio ********************/
 .portfolio-wrapper {
   background: beige;
   padding: 3rem 0;
 }
 .portfolio-wrapper .portfolio-image-box {
  position: relative;
  margin: 1rem;
  width: 15rem;
  
  
}
.portfolio-wrapper .portfolio-image {
   height: 10rem;
   width: 15rem;
   border: 1px solid var(--primary-orange);
   padding: 0.3rem 0.3rem;

 }
/************************* Overflow box********************/
 
.portfolio-wrapper .portfolio-image-box .overflow {
  position: absolute;
  width: 15rem;
  height: 10rem;
  opacity: 0;
  background: black;
  top:0;
  border: 1px solid red;
  cursor: pointer;
}

.portfolio-wrapper .portfolio-image-box:hover .overflow{
  opacity: 60%;
  transition: 0.3s ease-in-out;
}
 
/************************* Searchbar icon********************/
.portfolio-wrapper .portfolio-image-box .portfolio-search-icon {
  position: absolute;
  color:#ff8400;
  top: 50%;
  margin-left: 6.8rem;
  opacity: 0;
  font-size: 1.5rem;
  cursor: pointer;
}
.portfolio-wrapper .portfolio-image-box:hover .portfolio-search-icon{
  opacity: 70%;
  transition: 0.3s ease-in-out;
}

/********************* Popup Ravenous ***************/


.popupRavenousPicture {
  width: 40rem;
}


@media (max-width: 768px){
  .popupbox-content{
    width: 100%;
  }

}
@media (max-height:500px){
  .popupbox-wrapper {
    height:100% !important;
    width: 100%;
  }
}


/********************* Testimonials ***************/

.testimonials {
  background: url(testimonials-bg.jpg);
  text-align: center;
  width:100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: 38rem;
}

.testimonials-header {
  text-transform: uppercase;
  color: #f9ab00;
  font-weight: 600;
}
.carousel-content {
  padding-top: 2rem;
  width: 100%;
  background: var(--primary-grey);
  height: 30rem ;

}
.carousel-content img {
  width: 10rem !important;
  height: 10rem;
}

.carousel-content h3 {
  color: #f9ab00 !important;
  font-weight: 500;
}

.carousel-content p {
  color: #f9ab00 !important;
  font-weight: 400;
  margin-top: 2rem !important;
  margin-left: 8rem !important;
  margin-right: 8rem !important;
  padding-bottom: 10rem !important;
  font-size: 160% !important;
  
}

/********************* Contacts ***************/

.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-orange);
  font-size: 1.2rem;
}

/*------------------ INPUTS -------------------------------*/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-black);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*---------------- MEDIA -----------------------*/
@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
    
  }
}